<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HackMaineIrcBot.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HackMaineIrcBot.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <HackMaineIrcBot.Settings>
            <setting name="IrcAuthUser" serializeAs="String">
                <value>MaineHackerBot</value>
            </setting>
            <setting name="IrcServer" serializeAs="String">
                <value>irc.freenode.net</value>
            </setting>
            <setting name="IrcPort" serializeAs="String">
                <value>6667</value>
            </setting>
            <setting name="IrcSslPort" serializeAs="String">
                <value>7000</value>
            </setting>
            <setting name="IrcUseSsl" serializeAs="String">
                <value>True</value>
            </setting>
        </HackMaineIrcBot.Settings>
    </applicationSettings>
    <userSettings>
        <HackMaineIrcBot.Settings>
            <setting name="IrcAuthPass" serializeAs="String">
                <value />
            </setting>
        </HackMaineIrcBot.Settings>
    </userSettings>
</configuration>